@charset "UTF-8";
body {
  font-family: "Conv_pfdindisplaypro-light";
  color: #1c1f33; }

.sticky-menu {
  position: relative; }

.stickytop {
  position: fixed;
  top: 0px;
  background-color: #f8f8f8; }

.menured.stick {
  position: relative !important; }

.sticky-menu.mobile-menu {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -150px;
  max-height: 450px !important;
  overflow-y: scroll !important; }

.mobile-sticky {
  position: fixed;
  top: 0;
  width: 300px;
  height: 40px;
  cursor: pointer;
  background-color: #66befb;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: none;
  z-index: 999999; }

#column-left {
  padding: 0;
  display: block;
  height: auto;
  margin-bottom: 30px; }

.header_large {
  padding-top: 10px; }

#logo {
  float: left; }
  #logo a {
    display: block;
    padding: 0 10px; }

.center-block {
  float: left;
  padding-left: 15px; }

.search-block {
  max-width: 330px;
  display: inline-block; }

.telephone {
  display: inline-block;
  margin: 0 0 0 20px;
  font-size: 22px;
  vertical-align: top;
  line-height: 40px; }

.menu-large,
.menu-footer {
  margin: 15px 0 10px 0; }
  .menu-large a,
  .menu-footer a {
    text-decoration: none;
    font-size: 17px;
    color: #1c1f33;
    padding: 0 10px 0 0; }
    .menu-large a:last-child,
    .menu-footer a:last-child {
      padding-right: 10px; }

.menu-footer {
  margin: 50px 0 0; }
  .menu-footer a {
    margin-bottom: 15px;
    display: inline-block; }

.kozak-wrap {
  padding-left: 0; }

.right-block {
  float: right; }
  .right-block .kozak {
    margin-right: 10px; }
  .right-block .top-line {
    margin: 15px 0;
    text-align: right; }
  .right-block .login,
  .right-block .register,
  .right-block .account,
  .right-block .logout {
    display: inline-block;
    font-size: 17px;
    text-decoration: none; }
  .right-block .account,
  .right-block .login {
    background: url("../images/lock.png") no-repeat center left;
    padding-left: 15px;
    margin-right: 13px; }
  .right-block .logout,
  .right-block .register {
    background: url("../images/key.png") no-repeat center left;
    padding-left: 17px; }
  .right-block .CartImageHeader {
    padding-right: 5px; }
  .right-block #cart {
    position: relative;
    left: -5px;
    width: 105px;
    font-size: 16px;
    padding-left: 10px; }
    .right-block #cart .dropdown-toggle {
      cursor: pointer;
      display: block; }
    .right-block #cart .product-count {
      font-size: 16px; }

.cart-open {
  display: block; }

.header-bottom-line {
  position: relative;
  height: 0px;
  margin-bottom: 10px; }
  .header-bottom-line hr {
    position: absolute;
    width: 100%;
    margin: 0;
    border-top: 1px solid #f7c857;
    border-bottom: 1px solid #f7b544; }
  .header-bottom-line img {
    position: relative;
    top: -10px; }

.header_small .navbar {
  border: 0;
  background-color: #ffffff; }
.header_small #navbarCollapse {
  margin-top: 25px;
  padding: 0; }
.header_small .dropdown-toggle {
  color: #1c1f33 !important;
  padding-left: 9px;
  padding-right: 9px; }
.header_small .dropdown-menu li a {
  font-size: 16px; }
.header_small .nav.navbar-right li a {
  color: #1c1f33;
  font-size: 16px;
  padding-left: 6px;
  padding-right: 7px; }
.header_small form.navbar-form {
  padding-right: 0px;
  padding-left: 0px; }
.header_small .navbar-toggle {
  border-color: #66befb;
  margin-top: 33px; }

#navbarCollapse.navbar-collapse.in {
  overflow-y: inherit; }

.footer-top-line {
  position: relative;
  height: 0px;
  margin-top: 40px; }
  .footer-top-line hr {
    position: absolute;
    width: 100%;
    margin: 0;
    border-top: 1px solid #f7c857;
    border-bottom: 1px solid #f7b544; }
  .footer-top-line img {
    position: relative;
    top: -11px; }

.language-block {
  position: absolute;
  top: 9px;
  left: -65px; }
  .language-block .btn-link {
    text-decoration: none; }
  .language-block .fa.fa-caret-down {
    position: relative;
    top: 2px; }

.lng-menu-item {
  width: 30px; }
  .lng-menu-item > div {
    padding: 12px 0; }
  .lng-menu-item .btn-link {
    padding: 0;
    text-decoration: none; }
  .lng-menu-item .fa.fa-caret-down {
    position: relative;
    top: 2px; }

.instruction {
  margin-top: 40px; }
  .instruction figcaption {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-left: 15px; }

.featured-products-header,
.popular-header {
  margin: 50px 0 0;
  font-size: 22px;
  color: #5a5a5a;
  font-family: "Conv_pfdindisplaypro-reg"; }

.reviews-header {
  font-size: 22px;
  margin: 30px 0 40px;
  font-family: "Conv_pfdindisplaypro-reg"; }

.popular-header {
  margin-bottom: 40px; }

.product-content .button_cart {
  margin-top: 10px; }

#play,
#stop {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  bottom: 10px;
  display: inline-block;
  background: url(../images/icon-play.png) no-repeat left 15px top 4px;
  background-size: 15px; }

#stop {
  position: absolute;
  left: 0;
  background: url(../images/icon-pause.png) no-repeat left 15px top 4px;
  background-size: 15px; }

.action-header,
.remark-header,
.information-header {
  text-align: center;
  font-size: 22px;
  font-family: "Conv_pfdindisplaypro-reg";
  margin: 16px 0; }

.information-header {
  margin: 0px 0 30px; }

.partners {
  margin-top: 40px; }
  .partners #content > h1 {
    font-size: 28px;
    margin: 0 0 30px; }
  .partners .list-group {
    margin-top: 61px; }

.partners-block {
  box-shadow: 0px 1px 8px 0px rgba(136, 136, 136, 0.37);
  padding: 0 15px 15px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff; }

.btn-partners,
.btn-partners.back {
  position: relative;
  bottom: 3px;
  margin-top: 10px;
  background-color: #66befb;
  color: #ffffff;
  outline: none !important;
  width: 130px;
  font-size: 15px;
  padding: 0;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(136, 136, 136, 0.57); }
  .btn-partners:hover, .btn-partners:focus,
  .btn-partners.back:hover,
  .btn-partners.back:focus {
    color: #ffffff; }

.btn-partners.back {
  background-color: #f8f8f8;
  color: #000000; }
  .btn-partners.back:hover, .btn-partners.back:focus {
    color: #000000; }

.partners-pay input[type=checkbox] {
  position: relative;
  top: 3px;
  margin-left: 5px; }

.success-shop {
  position: relative;
  bottom: 3px;
  margin-top: 10px;
  background-color: #66befb;
  color: #ffffff;
  outline: none !important;
  width: 130px;
  font-size: 15px;
  padding: 0;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(136, 136, 136, 0.57); }
  .success-shop:hover, .success-shop:focus {
    color: #ffffff; }

.btn-back,
.btn-continue {
  position: relative;
  bottom: 3px;
  margin-top: 10px;
  background-color: #f8f8f8;
  outline: none !important;
  width: 125px;
  font-size: 15px;
  vertical-align: bottom;
  padding: 0;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 0px rgba(136, 136, 136, 0.57); }

.btn-continue {
  background-color: #66befb;
  color: #ffffff; }
  .btn-continue:hover, .btn-continue:focus {
    color: #ffffff; }

.review-textarea-wrap {
  padding-right: 0; }
  .review-textarea-wrap textarea {
    width: 100%;
    background-color: #f8f8f8; }

.product-name-page {
  font-size: 22px;
  margin: 30px 0 40px; }

.product-img {
  display: block;
  margin: 0 auto; }

.zoom-product-img {
  color: #f7b544;
  font-size: 24px; }

.trash-header {
  font-size: 22px;
  margin: 30px 0 40px;
  text-align: center; }

#allTotalPrice {
  font-size: 20px;
  font-family: "Conv_pfdindisplaypro-med";
  color: #ff0000; }

.panel-group.coupon label {
  font-size: 16px;
  font-family: "Conv_pfdindisplaypro-reg";
  color: #1c1f33;
  margin-top: 30px;
  margin-bottom: 20px; }
.panel-group.coupon .input-group-btn {
  width: 120px;
  float: left; }
.panel-group.coupon #input-coupon {
  height: 36px;
  width: 170px; }
.panel-group.coupon #button-coupon {
  background-color: #ff0000;
  border: 0;
  width: 100%;
  height: 36px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 0; }
  .panel-group.coupon #button-coupon:hover {
    z-index: 0; }

.btn.ordering,
.btn.continue-shopping {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: 0;
  border-radius: 20px;
  margin-top: 70px; }

.btn.continue-shopping {
  background-color: #ffffff;
  color: #5a5a5a; }

.btn.continue-shopping.empty-cart {
  background-color: #66befb;
  color: #ffffff; }

.sort-by-wrap label {
  line-height: 34px; }

#button-search {
  width: 150px;
  background-color: #66befb;
  border-radius: 40px;
  border: 0px;
  color: #ffffff;
  font-size: 14px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }

.pagination-wrap {
  margin-top: 30px; }
  .pagination-wrap hr {
    width: 100%;
    margin: 0;
    border-top: 1px solid #f7c857;
    border-bottom: 1px solid #f7b544;
    margin-bottom: 30px; }

.recommended-product-header {
  text-align: center;
  margin: 40px 0;
  font-size: 22px;
  color: #5a5a5a;
  font-family: "Conv_pfdindisplaypro-reg"; }

#myCarousel .item {
  padding: 0 20px; }
#myCarousel .carousel-control.left {
  left: 5px; }
#myCarousel .carousel-control.right {
  right: 5px; }

.count-product {
  font-size: 16px; }

.register-form .buttons input[type='checkbox'] {
  position: relative;
  top: 3px; }
.register-form .buttons input[type="submit"] {
  background-color: #ff0000;
  color: #ffffff;
  margin-top: 0; }

.check-role {
  margin-top: 20px; }

.approval-rights {
  line-height: 46px; }

.coupon-row > div {
  border-bottom: 1px solid #666;
  padding-top: 5px; }

.remark-action {
  width: 150px;
  background-color: #66befb;
  border-radius: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 0px;
  color: #ffffff;
  font-size: 16px; }
  .remark-action:hover {
    color: #ffffff; }

.filter-form {
  margin: 30px auto 0; }
  .filter-form .form-group {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0; }
  .filter-form .sort-by,
  .filter-form .producer {
    width: 250px; }
  .filter-form label {
    margin-right: 8px; }
  .filter-form input,
  .filter-form select {
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px; }
  .filter-form select {
    max-width: 160px; }
  .filter-form .price-limits input {
    width: 50px; }
  .filter-form .filter-button {
    position: relative;
    background-color: #ff0000;
    outline: none !important;
    font-size: 15px;
    width: 135px;
    padding: 0;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 0px rgba(136, 136, 136, 0.57); }

.product-name-list {
  font-size: 22px;
  margin: 30px 0; }

.checkout_form label {
  font-size: 16px; }
.checkout_form .payment input[type="button"] {
  width: 180px;
  background-image: none;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 0px;
  color: #000000 !important;
  text-shadow: none;
  font-size: 16px; }
.checkout_form .checkbox-header {
  margin-bottom: 10px; }
.checkout_form .to-cart {
  width: 150px;
  background-color: white !important;
  border-radius: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 0px;
  color: black !important;
  font-size: 16px; }
.checkout_form .checkbox-row input[type='radio'] {
  position: relative;
  top: 2px; }

.pagination {
  text-align: center; }
  .pagination li a,
  .pagination li span {
    margin-left: 10px;
    font-size: 14px;
    padding: 0px 10px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #1c1f33; }
  .pagination > .active > span {
    background-color: #66befb;
    border-color: #66befb; }
  .pagination > li:first-child > span, .pagination > li:first-child > a, .pagination > li:last-child > span, .pagination > li:last-child > a {
    border-radius: 0px !important; }
  .pagination > .active > span:focus,
  .pagination > .active span:hover {
    background-color: #66befb;
    border-color: #66befb; }

.owl-carousel {
  width: 100% !important; }

.footer #logo {
  float: none; }
  .footer #logo img {
    margin: 0 auto; }

.footer-button {
  margin-top: 45px; }
  .footer-button a {
    display: inline-block; }
  .footer-button .payment-icon a {
    position: relative;
    top: -2px;
    margin-left: -5px; }
  .footer-button .payment-icon .right-border {
    position: absolute;
    height: 30px;
    border-right: 1px solid #b6b6b6;
    right: 0; }
  .footer-button .social-icon a {
    margin-bottom: 10px; }

.avatar-row {
  padding-bottom: 20px; }

/******** */
/**FONTS* */
/******** */
@font-face {
  font-family: "Conv_pfdindisplaypro-reg";
  src: url("../fonts/pfdindisplaypro-reg.eot");
  src: local("тШ║"), url("../fonts/pfdindisplaypro-reg.woff") format("woff"), url("../fonts/pfdindisplaypro-reg.ttf") format("truetype"), url("../fonts/pfdindisplaypro-reg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Conv_pfdindisplaypro-light";
  src: url("../fonts/pfdindisplaypro-light.eot");
  src: local("тШ║"), url("../fonts/pfdindisplaypro-light.woff") format("woff"), url("../fonts/pfdindisplaypro-light.ttf") format("truetype"), url("../fonts/pfdindisplaypro-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Conv_pfdindisplaypro-med";
  src: url("../fonts/pfdindisplaypro-med.eot");
  src: local("тШ║"), url("../fonts/pfdindisplaypro-med.woff") format("woff"), url("../fonts/pfdindisplaypro-med.ttf") format("truetype"), url("../fonts/pfdindisplaypro-med.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/********************** */
/********MEDIA********* */
/********************** */
@media (max-width: 1199px) {
  .instruction {
    margin-top: 20px; }
    .instruction figcaption {
      display: block;
      text-align: center;
      vertical-align: middle;
      margin: 10px 0 0; }

  .button_cart {
    margin-top: 10px; }

  .menu-footer {
    margin: 30px 0 0; }

  .footer-button {
    margin-top: 35px; }

  .filter-form .form-group {
    margin-right: 10px; }
  .filter-form select {
    max-width: 135px; }
  .filter-form .sort-by,
  .filter-form .producer {
    width: 220px; }
  .filter-form .filter-button {
    width: 90px;
    font-size: 13px; }
  .filter-form .price-limits input {
    width: 40px; }

  .popular-row > div {
    width: 25%; }

  #myCarousel .item > div {
    width: 25%; }

  #column-left {
    padding-right: 0; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
  .product-thumb h4 {
    font-weight: bold;
    font-size: 14px; }

  .product-thumb .caption {
    padding: 0 10px; }

  .product-thumb .price {
    font-size: 13px;
    margin-top: 1px; }

  .product-thumb .charges {
    top: 0px;
    font-size: 10px;
    padding: 0 0px; } }
@media (max-width: 992px) {
  .featured-products-header,
  .popular-header {
    font-size: 18px; }

  .featured-products-header {
    text-align: right; }

  .menu-footer {
    margin: 10px 0 0; }

  .footer-button {
    margin-top: 15px; }

  .filter-form .sort-by {
    margin-bottom: 20px; }
  .filter-form .sort-by,
  .filter-form .producer {
    width: 260px; }
    .filter-form .sort-by label,
    .filter-form .producer label {
      width: 100px; }

  .popular-row > div:nth-child(2n) {
    margin-left: 5%; }
  .popular-row > div {
    width: 45%; }

  .checkout_form .checkbox-row .form-group {
    padding-left: 10px; }

  .btn.ordering,
  .btn.continue-shopping {
    margin-top: 30px; }

  .btn-row {
    padding: 0 15px; }

  #myCarousel .item > div {
    width: 50%; } }
@media (max-width: 768px) {
  .product-thumb {
    max-width: 300px;
    margin: 20px auto; }

  .featured-products-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px; }

  .menu-footer,
  .footer-button {
    margin-top: 25px; }

  .review-textarea-wrap {
    padding: 0; }

  .filter-form {
    max-width: 470px; }

  .trash-information {
    margin: 0 auto; }

  .btn-row {
    text-align: center; }

  .coupon {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center; }
    .coupon .input-group {
      margin: 0 auto; }

  #allTotalPrice {
    font-size: 16px; }

  .checkout_form .to-cart {
    margin: 30px auto 0;
    display: block; }

  #navbarCollapse .nav.navbar-nav.navbar-right {
    margin-left: 0 !important;
    text-align: center; }

  .product-item {
    width: 45%;
    float: left; }
    .product-item:nth-child(2n+1) {
      margin-left: 5%; }

  .lng-menu-item > div {
    padding: 10px 0; }

  .category-menu > div {
    max-width: 300px;
    margin: 0px auto 30px; }
  .category-menu .menured {
    font-size: 16px;
    line-height: 40px; }
  .category-menu .clickParentMenu {
    padding-top: 8px;
    padding-bottom: 8px; }

  #content {
    padding-top: 0; }

  .sort-by-wrap {
    float: none !important; }
    .sort-by-wrap label {
      display: block;
      text-align: left; }

  .product-img {
    max-width: 270px; }

  .avatar-row {
    max-width: 300px;
    margin: 0px auto; }

  .rewiew-row {
    padding-top: 20px; }
    .rewiew-row .star-rating {
      text-align: center !important; } }
@media (max-width: 500px) {
  .product-item {
    width: 100%;
    float: none; }
    .product-item:nth-child(2n+1) {
      margin-left: 0; }

  .popular-row > div:nth-child(2n) {
    margin-left: 0; }
  .popular-row > div {
    width: 100%; }

  .search-product-list .product-layout {
    width: 100%; }

  #myCarousel .item > div {
    width: 100%;
    float: left; } }
@media (max-width: 470px) {
  .filter-form .form-group {
    display: block;
    margin-bottom: 20px; }
  .filter-form label {
    width: 100px; }

  .trash-information {
    margin-right: -10px;
    font-size: 13px; }

  .trash-information.ordering {
    margin-left: -15px;
    margin-right: -15px; }

  #allTotalPrice {
    font-size: 13px; }

  .btn-row > div {
    width: 100%; }

  .panel-group.coupon #input-coupon {
    width: 165px; }
  .panel-group.coupon .input-group-btn {
    width: 105px; }

  .prof .nav-tabs li a {
    font-size: 12px;
    padding: 10px 0; } }

/*# sourceMappingURL=style_sass.css.map */
